.main {
    background-color: rgb(235, 235, 235);
    padding: 2rem;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}
